<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Offer Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch'
          href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css'>
    <link rel="stylesheet" href="css/style.css?v=5.5.5">
</head>
<!-- <script type="application/javascript">
       var pageFullUrlBits = window.location.href.split("/");
       var rootUrl = pageFullUrlBits[0] + "//" + pageFullUrlBits[2];
       window.location.href = rootUrl + "/register";
 </script> -->
<body>
<div ng-controller="DemoCtrl" ng-cloak="" ng-app="MyApp" layout="column" layout-sm="row" layout-align="center center"
     layout-align-sm="start start">
    <div class="loader" align="center" ng-hide="!isloading">
        <img src="img/loading.gif" height="35" ng-hide="!isloading"/>
    </div>
    <div ng-if="its404Page" class="text-center noFound">
        <div>
            <img src="img/monitor.svg" align="middle" height="50">
        </div>
        <span class="error-title" style="color: #f12335;">Page not found <span style="color: #f5ba10">:(</span></span>
        <p class="error-title-p">Maybe the page you are looking for has been removed, or you typed in the wrong URL</p>
    </div>
    <!--  <div class="text-center">You are invited! </div> -->
    <!-- <md-card id="SignupContent" ng-if="!isloading && !its404Page"
             ng-style="{'border-color': headerInfo.border}"  ng-class="isSpecialCampaign  ? 'sp-camp-border md-whiteframe-10dp md-no-momentum' : 'md-whiteframe-10dp md-no-momentum' " flex-sm> -->
    <md-card id="SignupContent" ng-if="!isloading && !its404Page"
             ng-style="{'border-color': headerInfo.border}"  flex-sm>

        <div layout-gt-sm="row" layout-sm="column" class="md-inline-form">

            <div ng-if="!isSpecialCampaign" id="materialToolbar2"
                 ng-style="{'background-color': headerInfo.background, 
				           'color': headerInfo.forecolor }"
                 class="md-hue-3" layout-padding="" ng-if="!isloading">
                <div align="center"><img ng-src="{{campaignLogo}}" align="middle" height="143"
                                         class="head-img responsive"></div>
                <div align="center">
                    <div class="header-content">
                        <div><img src="{{campaignIcon}}" class="head-icon" style="width:50px;"></div>
                        <h2>{{campaignInfo.name}}</h2>

                        <h3 class="md-headline">{{campaignInfo.desc}}</h3>
                        <h4 class="md-subhead" ng-class="{'hidden-xs': isRegisterPage == 'false'}">Simply fill up this
                            form with your preferred choice of date and time</h4>
                    </div>
                </div>
            </div>
             <div style="padding: 2px!important;" ng-if="isSpecialCampaign" id="materialToolbar2"
             ng-style="{'background-color': headerInfo.background, 
                           'color': headerInfo.forecolor }"
                 class="md-hue-3" layout-padding="" ng-if="!isloading">
                <div style="padding: 3px!important;" align="center">
                    <img ng-src="img/sp_banner.jpg" style="max-width: 100%;" align="middle" class="responsive">
                </div>
            
            </div>

            <div layout-padding="" ng-if="isRegisterPage=='true'">
                <form name="userForm" method="POST" ng-submit="getOTP(userForm.$valid)" enctype="multipart/form-data">
            
                    <div layout-gt-sm="row" layout-sm="column">
                        <md-input-container flex-gt-sm="" class="md-icon-float md-block" flex-gt-sm>
                            <label>Full name</label>
                            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                            <input ng-model="user.fullName" name="name" required minlength="2" type="text"
                                   ng-pattern="/^[a-zA-Z'. -]+$/" placeholder="Your Full Name">
                            <div ng-if="userForm.name.$dirty" ng-messages="userForm.name.$error" role="alert">
                                <div ng-message="required" class="my-message">First Name is Required.</div>
                                <div ng-message="pattern" class="my-message">Enter correct First Name.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex-gt-sm="" class="md-block md-no-float" flex-gt-sm>
                            <label>Mobile</label>
                            <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                            <input ng-model="user.mobile" name="mobile" required type="text"
                                   ng-pattern="/^(\+\d{1,3}[- ]?)?\d{10}$/" placeholder="Your Mobile Number"
                                   maxlength="10">
                            <div ng-if="userForm.mobile.$dirty" ng-messages="userForm.mobile.$error" role="alert">
                                <div ng-message="required" class="my-message">Mobile is Required.</div>
                                <div ng-message="pattern" class="my-message">Enter valid mobile number.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" layout-sm="column">
                        <md-input-container flex-gt-sm="" class="md-block md-no-float">
                            <label>Email</label>
                            <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
                            <input required type="email" name="email" ng-model="user.email"
                                   ng-pattern="/^[_a-zA-Z0-9-+]+(\.[_a-zA-Z0-9-+]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"
                                   placeholder="someone@example.com"/>
                            <div ng-if="userForm.email.$dirty" ng-messages="userForm.email.$error" role="alert">
                                <div ng-message="required" class="my-message">Email Address is Required.</div>
                                <div ng-message="pattern" class="my-message">Enter Correct Email Address.</div>
                                <div ng-message="email" class="my-message">Enter Correct Email Address.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" layout-sm="column">
                        <md-input-container flex-gt-sm="" class="md-block date-pan" flex-gt->
                            <label>How did you come to know about us?</label>
                            <md-icon md-svg-src="img/question-mark.svg"></md-icon>
                            <md-select name="resource" placeholder="How did you come to know about us?"
                                       ng-model="selected.resource" required>
                                <md-option ng-value="item" ng-repeat="item in resourseList">{{item}}</md-option>
                            </md-select>
                            <div class="errors" ng-messages="userForm.resource.$error">
                                <div ng-message="required">Resource is Required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div ng-if="!isAllowOnFull && !isSpecialCampaign" layout-gt-sm="row" layout-sm="column" style="margin-top: 20px;">
                        <md-input-container flex-gt-sm="" class="md-block date-pan" flex-gt-sm>
                            <label>Preferred Date</label>
                            <md-icon md-svg-src="img/date-range.svg"></md-icon>
                            <md-select name="date" placeholder="Preferred date" ng-model="selected.date"
                                       ng-change="onDateChange()" ng-required="!isAllowOnFull"
                                       ng-disabled="isAllowOnFull">
                                <md-option ng-value="item" ng-repeat="item in dateArr">{{item.date}}
                                </md-option>
                            </md-select>
                            <div class="errors" ng-messages="userForm.date.$error">
                                <div ng-message="required">Preferred Date is Required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex-gt-sm="" class="md-block date-pan" flex-gt->
                            <label>Preferred Timeslot</label>
                            <md-icon md-svg-src="img/ic_watch_later_black_24px.svg"></md-icon>
                            <md-select name="time" placeholder="Preferred  timeslot" ng-model="selected.time"
                                       ng-change="onTimeSlotChange(selected.time)"
                                       ng-disabled="!userForm.date.$dirty || isAllowOnFull"
                                       ng-required="!isAllowOnFull">
                                <md-option ng-value="item" ng-repeat="item in timeArr">{{item.time}}</md-option>
                            </md-select>
                            <div class="errors" ng-messages="userForm.time.$error">
                                <div ng-message="required">Time is Required.</div>
                            </div>

                        </md-input-container>
                    </div>
                   
                    <div layout-gt-sm="row" layout-sm="column" style="margin-top: 15px;">
                        <md-input-container ng-if="!isSpecialCampaign" flex-gt-sm="" md-no-float class="md-block" flex-gt-sm>
                            <label>No of persons</label>
                            <md-icon md-svg-src="img/ic_group_black_24px.svg"></md-icon>
                            <input name="noOfPerson" ng-model="user.noOfPerson" required type="text" minlength="1"
                                   maxlength=1 ng-pattern="NoOfPersonPattern" placeholder={{registerForm.noOfPerson}}>
                            <div ng-if="userForm.noOfPerson.$dirty" ng-messages="userForm.noOfPerson.$error"
                                 role="alert" multiple>
                                <div ng-message="required" class="my-message">No of persons is Required.</div>
                                <div ng-message="pattern">It should contain at least 1 or max
                                    {{registerForm.noOfPerson}} persons
                                </div>
                            </div>
                        </md-input-container>
                       <!--  <md-input-container ng-if="isSpecialCampaign" flex-gt-sm="" md-no-float class="md-block" flex-gt-sm>
                            <label>No of persons</label>
                            <md-icon md-svg-src="img/ic_group_black_24px.svg"></md-icon>
                            <input name="noOfPerson" ng-model="user.noOfPerson" required type="number"  ng-min="{{registerForm.noOfPerson}}"
                                     placeholder="No of persons">
                            <div ng-if="userForm.noOfPerson.$dirty" ng-messages="userForm.noOfPerson.$error"
                                 role="alert" multiple>
                                <div ng-message="required" class="my-message">No of persons is Required.</div>
                               <div ng-message="min">Atleast {{registerForm.noOfPerson}} PAX required.
                                </div>
                            </div>
                        </md-input-container> -->
                        <md-input-container ng-if="!isSpecialCampaign" flex-gt-sm="" class="md-block md-no-float" flex-gt-sm>
                            <label>Locality (Optional)</label>
                            <md-icon md-svg-src="img/ic_person_pin_black_24px.svg"></md-icon>
                            <input name="locality" ng-model="user.locality" type="text" minlength="1" maxlength="20"
                                   placeholder="Locality">
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" layout-sm="column">
                        <md-input-container flex-gt-sm="50" class="gen-md-pan">
                            <input type="hidden" name="gender" value="{{user.gender}}" md-open-on-focus/>
                            <label style="transform: translate3d(0,6px,0) scale(.75);">Gender*</label>
                            <md-radio-group ng-model="user.gender" required>

                                <md-radio-button value="Male" class="md-primary">
                                    <md-icon md-svg-src="img/male.svg" class="name"></md-icon>
                                </md-radio-button>
                                <md-radio-button value="Female" class="md-primary">
                                    <md-icon md-svg-src="img/female.svg" class="name"></md-icon>
                                </md-radio-button>

                            </md-radio-group>
                        </md-input-container>
                        <md-input-container flex-gt-sm="70" class="dob-md-pan">
                            <label>DOB (Optional)</label>
                            <md-datepicker ng-model="user.dob" ng-required="false" name="dob" md-placeholder="Enter DOB"
                                           md-open-on-focus md-max-date="ctrl.maxDate">
                            </md-datepicker>

                        </md-input-container>
                    </div>

                    <div ng-if="!isSpecialCampaign" layout-gt-sm="row" layout-sm="column">
                        <md-input-container flex-gt-sm="" flex-gt-sm class="msg-box">
                            <label>Message (Optional)</label>
                            <md-icon md-svg-src="img/ic_message_black_24px.svg"></md-icon>
                            <textarea ng-model="user.remark" md-maxlength="150" rows="2"
                                      placeholder="Type a message"></textarea>
                        </md-input-container>
                    </div>
                    <div md-colors="{color:'warn'}" class="error-ms">{{errorMsg}}</div>
                    <md-button class="md-raised md-primary" ng-hide="registerSubmit"
                               style="width:100%; margin: 0px 0px;" type="submit" ng-disabled="userForm.$invalid"
                               name="submit">{{registerButtonText}}
                    </md-button>
                    <div align="center" ng-show="registerSubmit"><img src="img/loading.gif" height="35"/></div>
                    <div ng-if="isSpecialCampaign" class="tandc">
                        <strong style="margin-left: 25px;color: #ca3b18;">
                            Terms and Conditions
                        </strong>
                        <ul style="margin-top: 5px;color: #5a5a5a;line-height: 1.4;">
                            <li>
                                The offer is valid only for bookings of 4 and above.
                            </li>
                            <li>
                                The voucher amount can be redeemed on dining between 19th - 25th January '18, only. 
                            </li>
                            <li>
                                The offer is not valid for bookings through third party websites.
                            </li>
                        </ul>
                    </div>
                </form>
            </div>


            <!-- ng-if="isVerifyOtpPage=='true'" -->
            <div layout-padding="" ng-if="isVerifyOtpPage=='true'">
                <div class="md-headline">{{user.fullName + "(" + user.mobile + ")"}}
                </div>
                <div class="md-subhead"><span ng-hide="isAllowOnFull || isSpecialCampaign">{{ selected.date.date  +  ", " +  selected.time.time }} , {{user.noOfPerson
                    + " person(s)" }} </span>
                </div>
                <h4 class="heading">{{heading}}</h4>
                <form name="verifyForm" method="POST" ng-submit="verifyOTP(verifyForm.$valid)"
                      enctype="multipart/form-data">
                    <input type="hidden" name="action" value="signup"/>
                    <div layout-gt-sm="row" layout-sm="column">
                        <md-input-container flex-gt-sm="" class="md-block md-no-float">
                            <label>Enter OTP</label>
                            <input ng-model="verify.enterOtp" name="enterOtp" required type="text"
                                   ng-pattern="/^(\+\d{1,3}[- ]?)?\d{5,6}$/" placeholder="Enter OTP" minlength="5"
                                   ng-disabled="verifyDisabled">
                            <div ng-if="verifyForm.enterOtp.$dirty" ng-messages="verifyForm.enterOtp.$error"
                                 role="alert">
                                <div ng-message="required" class="my-message">OTP is Required.</div>
                                <div ng-message="pattern" class="my-message">Enter valid OTP.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="resend-btn">
                        <span ng-click="resendOTP()" class="pull-right">Resend OTP</span>
                    </div>
                    <div class="verify-failed">
                        <span ng-if="verifyFailed=='true'"> OTP verification failed!</span>
                        <span ng-if="wrongOtp=='true'"> Please enter correct OTP.</span>
                        <span ng-if="otpResended"
                              style="color: #14e214!important;"> OTP is send to your mobile number.</span>
                    </div>

                    <md-button class="md-raised md-primary" ng-hide="verifySubmit" style="width:100%; margin: 0px 0px;"
                               type="submit" ng-disabled="verifyForm.$invalid" name="submit">Verify
                    </md-button>
                    <div align="center" ng-show="verifySubmit"><img src="img/loading.gif" height="35"/>
                    </div>
                </form>
            </div>

            <div layout-padding="" class="confirm-div text-center" ng-if="isConfirmPage=='true'">
                <img src="img/happiness.svg" class="gren-icon">
               
                 <div ng-if="!isSpecialCampaign">
                    <span class="congo">Congratulations! </span><br>
                    <span class="wel"><br>Thank you for registerting!<br>Your complimentary meal invitation details are shown below</span><br>
                    <div class="md-headline">{{user.fullName + "(" + user.mobile + ")"}}</div>
                    <div class="md-subhead"><span ng-hide="isAllowOnFull"> {{ selected.date.date  +  ", " +  selected.time.time }} , </span>{{user.noOfPerson
                        + " person(s)" }}
                    </div>
                    <br>

                    <div class="md-subhead">
                        <small>Please do visit on the mentioned date. We are eager to meet you!</small>
                    </div>
                </div>
                 <div ng-if="isSpecialCampaign">
                    <span class="congo">Congratulations! </span><br>
                    <span class="wel"><br>Thank you for registering for #BBQNStikes12.<br> 
                    Your Barbeque Nation celebration coupon will be sent within 36 hours either by email / SMS</span><br>
                    <div class="md-headline">{{user.fullName + "(" + user.mobile + ")"}}</div>
                    <br>
                    <div class="md-subhead">
                        <small></small>
                    </div>
                </div>
            </div>

            <div layout-padding="" class="confirm-div text-center" ng-if="isWaitListed">
                <img src="img/clock.svg" class="gren-icon">
                <div>
                    <span class="congo">Thank you! </span><br>
                    <span class="wel"><br>We shall contact you in case we have a slot empty for you</span><br>
                    <div class="md-headline">{{user.fullName + "(" + user.mobile + ")"}}
                    </div>
                    <div class="md-subhead">{{ selected.date.date + ", " + selected.time.time }} , {{user.noOfPerson + "
                        person(s)" }}
                    </div>
                    <br>
                </div>
            </div>

            <div layout-padding="" class="confirm-div text-center" ng-if="isAllowMessageShow">
                <img src="img/happiness.svg" class="gren-icon">
                <div ng-if="!isSpecialCampaign">
                    <span class="congo">Thank you! </span><br>
                    <span class="wel"><br>We shall contact you in case we have a slot empty for you</span><br>
                    <div class="md-headline">{{user.fullName + "(" + user.mobile + ")"}}
                    </div>
                    <div class="md-subhead">{{user.noOfPerson + " person(s)" }}</div>
                </div>
                <div ng-if="isSpecialCampaign">
                    <span class="congo-h">#BBQNStrikes12</span><br>
                    <span class="wel-u">Your celebration code was sent to your registered number previously.<br>Look forward to see you celebrating in the outlet soon.</span>
                </div>
            </div>

            <div layout-padding="" class="confirm-div text-center" ng-if="isErrorPage=='true'">
                <img src="img/sad.svg" class="gren-icon">
                <div ng-if="!isSpecialCampaign">
                    <span class="congo-h">Sorry! </span><br>
                    <span class="wel-u">Something went wrong! please try sometime later</span>
                </div>
                <div ng-if="isSpecialCampaign">
                    <span class="congo-h">#BBQNStrikes12</span><br>
                    <span class="wel-u">Your celebration code was sent to your registered number previously.<br>Look forward to see you celebrating in the outlet soon.</span>
                </div>
            </div>

            <div layout-padding="" class="confirm-div text-center" ng-if="isSlotFullMessage">
                <div>
                    <span class="congo-h">It's a Great Day @ {{campaignInfo.name}}!! </span><br>
                    <span class="wel-u">{{campaignOverText1}}<br>{{campaignOverText2}}</span>
                </div>
            </div>
            <!-- ng-if="isUpdatePage=='true'" -->
            <div layout-padding="" class="confirm-div text-center" ng-if="isUpdatePage=='true'">
                <img src="img/sad.svg" class="gren-icon">
                <div>
                    <span class="congo-h">Oops! </span><br>
                    <span class="wel-u">{{campaignInfo.slotFullText}}</span>
                </div>
                <form name="updateForm" method="POST" ng-submit="updateCustomer(updateForm.$valid)"
                      enctype="multipart/form-data">
                    <div layout-gt-sm="row" layout-sm="column" style="text-align:left;    padding-top: 15px;">
                        <md-input-container flex-gt-sm="" class="md-block date-pan" flex-gt-sm>
                            <label>Preferred Date</label>
                            <md-icon md-svg-src="img/date-range.svg"></md-icon>
                            <md-select name="date" placeholder="Preferred date" ng-model="updated.date"
                                       ng-change="onUpdatedDateChange()" ng-required="!isAllowOnFull"
                                       ng-disabled="isAllowOnFull || updateSubmit">
                                <md-option ng-value="item" ng-repeat="item in dateArr">{{item.date}}
                                </md-option>
                            </md-select>
                            <div class="errors" ng-messages="updateForm.date.$error">
                                <div ng-message="required">Preferred Date is Required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex-gt-sm="" class="md-block date-pan" flex-gt->
                            <label>Preferred Timeslot</label>
                            <md-icon md-svg-src="img/ic_watch_later_black_24px.svg"></md-icon>
                            <md-select name="time" placeholder="Preferred  timeslot" ng-model="updated.time"
                                       ng-disabled="!updateForm.date.$dirty" ng-required="!isAllowOnFull"
                                       ng-disabled="isAllowOnFull || updateSubmit">
                                <md-option ng-value="item" ng-repeat="item in timeArr">{{item.time}}</md-option>
                            </md-select>
                            <div class="errors" ng-messages="updateForm.time.$error">
                                <div ng-message="required">Time is Required.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-button class="md-raised md-primary" ng-hide="updateSubmit" style="width:100%; margin: 0px 0px;"
                               type="submit" ng-disabled="updateForm.$invalid" name="submit">{{updateButtonMessage}}
                    </md-button>
                    <div align="center" ng-show="updateSubmit"><img src="img/loading.gif" height="35"/>
                    </div>
                </form>
            </div>
        </div>
    </md-card>

</div>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js'></script>
<!-- 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-sanitize.js"></script> -->
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>
<script src="js/index.js?v=777886452"></script>
</body>
</html>